.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 2rem 2rem 2rem; /* Adjusted to fit under the navbar */
    background-color: #0c0c0e;
    min-height: calc(100vh - 5rem);  /* Subtract navbar height */
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    flex-wrap: wrap;
}
  
.hero-content {
    max-width: 800px;
    text-align: left;
    animation: fadeIn 1.2s ease-in-out;
    z-index: 2;
}
  
.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #ffffff;
    line-height: 1.2;
}
  
.hero-tagline {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    font-style: italic;
}
  
.hero-description {
    font-size: 1.2rem;
    color: #e0e0e0;
    line-height: 1.8;
    margin-top: 1.5rem;
    max-width: 700px;
}
  
.cta-button {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: #d161c2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.cta-button:hover {
    background-color: #b300a1;
    transform: translateY(-3px);
}
  
.cta-button:focus {
    outline: 3px solid rgba(255, 0, 255, 0.6);
    outline-offset: 2px;
}
  
/* Hero Image Styling */
  .hero-image {
    max-width: 400px;
    border-radius: 10px;
    animation: fadeIn 1.2s ease-in-out 0.5s;
    margin: 1.4rem;
}
  
.hero-photo {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.hero-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
  
/* Scroll Navbar Effect */
@media (max-width: 768px) {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      padding: 6rem 1rem;
      margin-top: 5rem;
    }
  
    .hero-content {
      max-width: 80%;
    }
  
    .hero-title {
      font-size: 2.5rem;
    }
  
    .hero-tagline {
      font-size: 1.2rem;
    }
  
    .cta-button {
      font-size: 1rem;
      padding: 0.7rem 2.5rem;
    }
  
    .hero-image {
      max-width: 70%;
    }
  }
  
/* Keyframe Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}